<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
<h1>Add some pez dispensers, yo!</h1>
        <form action="/results" method="post">
                <div class="container">
                    <div class="form-group">
                        <label for="items">Pez! Awesome!!!</label>
                        <input type="text" id="items" name="items" class='form-control'><br>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Add a Pez Dispenser!</button>
                </form>

    </body>
</html>
