<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Pez results!</title>
</head>
<body>
    <div class="container">
        {% if items is not empty %}
            <h1>Here are your pez dispensers!</h1>
            {% for item in items %}
            <li>{{ item.getDescription }}</li>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
