<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Pez results!</title>
</head>
<body>
    <div class="container">
        {% for found in founditems %}
        <li>{{ found.getDescription }}</li>
        {% endfor %}


    <a href="/">Go back</a>
    </div>
</body>
</html>
